<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>HUD | {% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="../../../../../static/assets/css/vendor.min.css"
      rel="stylesheet"
    />
    <link
      href="../../../../../static/assets/css/app.min.css"
      rel="stylesheet"
    />
    <link
      href="../../../../../static/assets/plugins/jvectormap-next/jquery-jvectormap.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
  </head>
  <body>
    <div id="app" class="app">
      {% include 'components/header.html' %} 

      {% include 'components/sidebar.html' %}
      <div id="content" class="app-content">
        {% block content %} {% endblock %}
      </div>

      <a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"
        ><i class="fa fa-arrow-up"></i
      ></a>
    </div>
    {% include 'components/scripts.html' %}

    
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    {% if alert %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            toastr.options = {
                closeButton: false,
                debug: false,
                newestOnTop: true,
                progressBar: true,
                positionClass: "toast-top-right",
                preventDuplicates: false,
                onclick: null,
                showDuration: "300",
                hideDuration: "1000",
                timeOut: "5000",
                extendedTimeOut: "1000",
                showEasing: "swing",
                hideEasing: "linear",
                showMethod: "fadeIn",
                hideMethod: "fadeOut",
            };

            toastr["{{ alert['status'] }}"](
                "{{ alert['message'] }}",
                "{{ alert['title'] }}"
            );
        });
    </script>
    {% endif %}
  </body>

</html>
