<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>HUD | Error Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<!-- ================== BEGIN core-css ================== -->
	<link href="../../../../../static/assets/css/vendor.min.css" rel="stylesheet" />
	<link href="../../../../../static/assets/css/app.min.css" rel="stylesheet" />
	<!-- ================== END core-css ================== -->

</head>

<body class='pace-top'>
	<!-- BEGIN #app -->
	<div id="app" class="app app-full-height app-without-header">
		<!-- BEGIN error -->
		<div class="error-page">
			<!-- BEGIN error-page-content -->
			<div class="error-page-content">
				<div class="card mb-5 mx-auto" style="max-width: 320px;">
					<div class="card-body">
						<div class="card">
							<div class="error-code">400</div>
							<div class="card-arrow">
								<div class="card-arrow-top-left"></div>
								<div class="card-arrow-top-right"></div>
								<div class="card-arrow-bottom-left"></div>
								<div class="card-arrow-bottom-right"></div>
							</div>
						</div>
					</div>
					<div class="card-arrow">
						<div class="card-arrow-top-left"></div>
						<div class="card-arrow-top-right"></div>
						<div class="card-arrow-bottom-left"></div>
						<div class="card-arrow-bottom-right"></div>
					</div>
				</div>
				<h1>Oops!</h1>
				<h3 class="mt-4">Bad request, invalid CSRF token or missing token</h3>
				<hr />
				<p class="mb-1">
					Please check the link to go back
				</p>
				<a href="javascript:window.history.back();" class="btn btn-outline-theme mt-3 px-3 rounded-pill"><i
						class="fa fa-arrow-left me-1 ms-n1"></i> Go Back</a>
			</div>
			<!-- END error-page-content -->
		</div>
		<!-- END error -->

		<!-- BEGIN btn-scroll-top -->
		<a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>
		<!-- END btn-scroll-top -->

	</div>
	<!-- END #app -->

	<!-- ================== BEGIN core-js ================== -->
	<script src="../../../../../static/assets/js/vendor.min.js"></script>
	<script src="../../../../../static/assets/js/app.min.js"></script>
	<!-- ================== END core-js ================== -->

</body>

</html>