{% extends 'base/base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-4 col-md-6">
        <div class="card p-4 h-100">
            <div class="d-flex align-items-center mb-3">
                <img src="../../../../../static/assets/img/user/user-8.jpg" class="rounded-circle me-3 w-50px"
                    alt="Client 1">
                <div>
                    <h5 class="mb-0">OPPO Reno 12</h5>
                    <small class="text-muted">Andriod Version: 12</small>
                </div>
            </div>
            <div class="">
                <div class="mb-3 gap-0">
                    <p>Device Model: OPPO Reno 12 <br>
                        Android Version: 12 <br>
                        IMEI1: 123456789012345 <br>
                        IMEI2: 123456789012345</p>
                </div>
                <div class="text-center mx-auto">
                    <button type="button" class="btn btn-primary">Check Device <i
                            class="bi bi-arrow-right"></i></button>
                </div>
            </div>
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6">
        <div class="card p-4 h-100">
            <div class="d-flex align-items-center mb-3">
                <img src="../../../../../static/assets/img/user/user-8.jpg" class="rounded-circle me-3 w-50px"
                    alt="Client 1">
                <div>
                    <h5 class="mb-0">OPPO Reno 12</h5>
                    <small class="text-muted">Andriod Version: 12</small>
                </div>
            </div>
            <div class="">
                <div class="mb-3 gap-0">
                    <p>Device Model: OPPO Reno 12 <br>
                        Android Version: 12 <br>
                        IMEI1: 123456789012345 <br>
                        IMEI2: 123456789012345</p>
                </div>
                <div class="text-center mx-auto">
                    <button type="button" class="btn btn-primary">Check Device <i
                            class="bi bi-arrow-right"></i></button>
                </div>
            </div>
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-md-6">
        <div class="card p-4 h-100">
            <div class="d-flex align-items-center mb-3">
                <img src="../../../../../static/assets/img/user/user-8.jpg" class="rounded-circle me-3 w-50px"
                    alt="Client 1">
                <div>
                    <h5 class="mb-0">OPPO Reno 12</h5>
                    <small class="text-muted">Andriod Version: 12</small>
                </div>
            </div>
            <div class="">
                <div class="mb-3 gap-0">
                    <p>Device Model: OPPO Reno 12 <br>
                        Android Version: 12 <br>
                        IMEI1: 123456789012345 <br>
                        IMEI2: 123456789012345</p>
                </div>
                <div class="text-center mx-auto">
                    <button type="button" class="btn btn-primary">Check Device <i
                            class="bi bi-arrow-right"></i></button>
                </div>
            </div>
            <div class="card-arrow">
                <div class="card-arrow-top-left"></div>
                <div class="card-arrow-top-right"></div>
                <div class="card-arrow-bottom-left"></div>
                <div class="card-arrow-bottom-right"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}